
@media screen and (min-width:1024px){
    header{
    }
    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li{
        list-style: none;
        margin-left: 20px;
    }
    #bloco-imagens1{
        margin-top: 10px;
        border-radius: 10px;
        padding: 0.4em;
        display: flex;
    }

    #blocos{
        margin-top: 10px;
        border-radius: 10px;
        padding: 0.4em;
        display: flex;
    }

    #bloco-de-foto{
        flex-grow: 1;
        padding: 10px;
        margin: 10px;
    }
  
}