@media screen and (min-width:600px) {
    header{
    }

    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li{
        list-style: none;
        margin-left: 20px;
    }

    header ul li a{
        text-decoration: none;
        padding:6px;
        color: #fff;
        border-radius: 20px;
    }
    
    
}
